html {
scroll-behavior: smooth;
}
body {
background: black;
margin: 0;
padding: 0;
color: white;
font-family: Tobias-Light;
font-size: 24px;
}
@font-face {
font-family: Tobias-Light;
src: url('./fonts/TobiasTRIAL-Light.otf');
}
@font-face {
font-family: Tobias-LightItalic;
src: url('./fonts/TobiasTRIAL-LightItalic.otf');
}
@font-face {
font-family: Tobias-SemiBoldItalic;
src: url('./fonts/TobiasTRIAL-SemiBoldItalic.otf');
}
h1 {
font-size: 74px;
margin: 0;
}
#date {
opacity: 81%;
}

a:visited {
color: inherit;
}
#telegram-link {
color: white;
}
#telegram-link:hover {
text-decoration: none;
}
#start-here-link {
    color: black;
    text-decoration: none;
}
#start-here-link:hover {
    text-decoration: underline;
}

.helvetica-condensedbold {
font-family: 'HelveticaNeue-CondensedBold';
}
.uppercase {
text-transform: uppercase;
}
.helvetica {
font-family: 'Helvetica Neue'
}
#countdown {
padding-bottom: 20px;
}
#stay-updated {
width: 245px;
height: 56px;
background-color: transparent;
color: white;

border-radius: 15px;
border: 1px solid white;

font-size: 18px;
letter-spacing: 0.13em;
cursor: pointer;
}
.wrapper {
width: 100%;
display: flex;
}
#header {
max-width: 700px;
}
.title {
position: fixed;
width: 50%;
top: 50%;
transform: translateY(-50%);
}
.margined {
margin: 0px 80px;
}
.wrapper > div {
width: 100%;
}
#full-page {
background: #4EDAB7;
min-height: 100vh;

display: flex;
justify-content: center;
align-items: center;
}
#video-container {
margin: 0px 86px;
position: relative;
}
#video-text {
margin: 0;
position: absolute;
font-size: 36px;
color: black;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}
#video {
max-width: 700px;
width: 100%;
height: auto;
}
#blog {
opacity: 90%;
padding: 80px 150px 125px 0px;
line-height: 30px;
}
#poem-container {
border-left: .75px solid rgba(255, 255, 255, .8);
padding-left: 30px;
}
#poem {
font-family: Tobias-LightItalic;
}
#poem-title {
font-family: Tobias-SemiBoldItalic;
}

@media only screen and (max-width: 992px) {
.wrapper {
flex-flow: column;
height: 100%;
}
.title {
position: static;
}

h1 {
    font-size: 42px;
}

.margined {
    margin: 45px 35px;
}

.title {
    width: 100%;
    transform: none;
    top: auto;
}

#stay-updated {
width: 165px;
height: 40px;
font-size: 12px;
}
#video-container {
margin: auto;
}
#full-page {
min-height: auto;
}
#video-text {
font-size: 22px;
width: 100%;
text-align: center;
}

#blog {
font-size: 16px;
line-height: 21px;
padding: 60px 35px;
}
}

@media only screen and (min-width: 1600px) {
    #header {
        max-width: 35%;
    }
}
